<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="MiniD">
    <Appenders>
        <File name="MiniD" fileName="/var/log/MiniD.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="MiniD"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>